CFS_ENV=development
CFS_DATABASE_PATH=../database/cfs.db
CFS_OWNER_BOOTSTRAP_TOKEN=replace-with-long-random-bootstrap-secret
CFS_ANTIVIRUS_REQUIRED=false
CFS_PAYMENTS_MODE=MOCK
CFS_PRODUCTION_PAYMENTS_ENABLED=false
CFS_TRON_USDT_ADDRESS=TSrSa2iL7a1csWRLTrzhRoW1oUUaDKpDj9
CFS_BSC_USDT_ADDRESS=0xb6e727732F845bDb7792C075B147658e84a173d2
CFS_SOL_ADDRESS=EpiJ5GUjXMhcQpZtErxwGq5VZKwvkxV8kSz8PUKtpsr2
CFS_MOCK_SOL_USD_RATE=150.00
